//all
$backColor: #f2f2f2;
$grayText: #666666;

// default
$defaultBlue: #1698d9;

//deault hover
$defaultHoverBlue: #2ea8e6;
$defaultHoverBuy: #22a7e9;

//default selected
$selectedPink: #d91667;

//selected hover
$selectedHoverBorder: #e52e7a;
$selectedHoverCatText: #e62e7a;

//disabled
$disabledDesc: #ffff66;
$disabledGray: #b3b3b3;
$disabledOval: #979797;
